<div class="Slider">
  <fa-icon class="slider-icon" (click)="prevSlide()"
    [icon]="faAngleLeft"></fa-icon>

  <a routerLink="/product-details/{{popularProducts[currentItem].id}}"><img
      class="slider-image" [@fade]="currentItem"
      [src]="popularProducts[currentItem].imageUrl" alt></a>

  <fa-icon class="slider-icon" (click)="nextSlide()"
    [icon]="faAngleRight"></fa-icon>

  <div class="slider-dots">
    <div [class]="currentItem === i ? 'selected-slider-dot' : 'slider-dot'"
      *ngFor="let product of popularProducts; let i = index"
      [class.active]="currentItem === i" (click)="currentItem = i"></div>
  </div>
</div>

<h2>Trending Products</h2>
<div class="product-list-container">
  @for (product of productList; track $index) {
  <div class="product-item">
    <img src="{{product.imageUrl}}" alt>
    <hr>
    <div class="product-info">
      <h2>{{product.category | titlecase}}</h2>
      <h3>{{product.name}}</h3>
      <p>Price: ${{product.price}}</p>
    </div>
    <hr>
    <div class="product-actions">
      <a routerLink="/product-details/{{product.id}}">Product Details</a>
      <a href>Add to Cart</a>
    </div>
  </div>
  }
</div>
