<div class="product-list">
  <p class="delete-product-message">{{deleteMessage}}</p>
  <table>
    <caption><h2>Product List</h2></caption>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>category</th>
        <th>price</th>
        <th>description</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      @for (product of productList; track $index) {
      <tr>
        <td><img src="{{product.imageUrl}}" alt="{{product.name}}"></td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>
          <button (click)="deleteItem(product.id)"><fa-icon
              [icon]="faTrash"></fa-icon> Delete</button>
          <button (click)="editItem(product.id)"><fa-icon
              [icon]="faPen"></fa-icon> Edit</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>