<div class="user-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h2>user Sign Up</h2>
    <form #signupForm="ngForm" (ngSubmit)="signUp(signupForm.value)"
      class="common-form">
      <input type="text" class="form-input" placeholder="please enter user name"
        name="name" ngModel>
      <input type="text" class="form-input"
        placeholder="please enter user email" name="email" ngModel>
      <input type="password" class="form-input"
        placeholder="please enter user password"
        name="password" ngModel>
      <button class="form-button">Sign Up</button>
      <a (click)="openLogin()">Already have an account</a>
    </form>
  </div>

  <div *ngIf="showLogin" class="log-in">
    <h2>user Log In</h2>
    <form #loginForm="ngForm" (ngSubmit)="Login(loginForm.value)"
      class="common-form">

      <input type="text"
        class="form-input"
        placeholder="please enter user email"
        name="email"
        ngModel
        email
        #email="ngModel"
        required>

      <p class="invalid-input" *ngIf="!email.valid && email.touched">Please
        enter valid
        email</p>

      <input type="password"
        class="form-input"
        placeholder="please enter user password"
        name="password"
        ngModel
        minlength="6"
        #password="ngModel"
        required>

      <p class="invalid-input"
        *ngIf="!password.valid && password.touched">Please
        enter valid
        password</p>

      <p class="auth-error">{{authError}}</p>
      <button [disabled]="loginForm.invalid" class="form-button">Log In</button>
      <a (click)="openSignUp()">Don't have an account</a>
    </form>
  </div>
</div>
